@import '../layout/main';

.popular-box {
  grid-column: 1/9;
  grid-row: 2/2;
  display: grid;
  grid-template-columns: repeat(9, 150px);
  // grid-template-rows: 100%;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.box1 {
  background: url(https://boostedboards.com/zendesk/images/bg-reservations.jpg) no-repeat;
  background-size: cover;
  height: 295px;
  display: block;
  border-radius: 4px;
  grid-row: 1/1;
  grid-column: 3/5;

  width: 296px;
}

.box2 {
  background: url(https://boostedboards.com/zendesk/images/bg-started.jpg) no-repeat;
  background-size: cover;
  height: 295px;
  display: block;
  border-radius: 4px;
  grid-row: 1/1;
  grid-column: 5/7;
  width: 296px;
}

.box3 {
  background: url(https://theme.zdassets.com/theme_assets/1270292/b96a474867b6cf9cc74203188a4cde85ff829130.jpg) no-repeat;
  background-size: cover;
  height: 295px;
  display: block;
  border-radius: 4px;
  grid-row: 1/1;
  grid-column:7/9;
  width: 296px;
}

.guides-box {
  grid-column: 1/9;
  grid-row: 5/5;
  align-self: start;
  display: grid;
  grid-template-columns: repeat(9, 150px);
  // grid-template-rows: 100%;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.guides1 {
  background: $white-color;
  border: 1px solid #E4E4E4;
  box-shadow: 0 2px 3px 0 rgba(180,180,180,.11);
  background-size: cover;
  min-height: 260px;
  display: block;
  border-radius: 4px;
  grid-row: 1/1;
  grid-column: 3/5;
  width: 296px;
  transition: box-shadow 500ms;
}

.guides2 {
  background: $white-color;
  border: 1px solid #E4E4E4;
  box-shadow: 0 2px 3px 0 rgba(180,180,180,.11);
  background-size: cover;
  min-height: 260px;
  display: block;
  border-radius: 4px;
  grid-row: 1/1;
  grid-column: 5/7;
  width: 296px;
}

.guides3 {
  background: $white-color;
  border: 1px solid #E4E4E4;
  box-shadow: 0 2px 3px 0 rgba(180,180,180,.11);
  background-size: cover;
  min-height: 260px;
  display: block;
  border-radius: 4px;
  grid-row: 1/1;
  grid-column:7/9;
  width: 296px;
}